<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Governance Readiness Checklist</title>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 text-center">Governance Readiness Checklist</h1>
        <p class="lead text-center">A light-weight framework to define the governance model in your software project.</p>
      </div>
    </div>

    <div class="container">

    <img src="icons/overview.svg">

    <h1>A checklist?</h1>
    <p>The definition of <strong>Governance Rules is hard</strong>. We have created a checklist to help you to face common questions and issues you usually find when defining governance models.</p> 
    <p>The checklist was carefully created by a group of Open-Source developers and practitioners who worked together in the context of the <a href="https://sustainoss.org/working-groups/governance-readiness/">Governance Readiness working group</a>, an initiative of <a href="https://sustainoss.org/">SustainOSS</a>. </p>
    <p>We identified <strong>three main dimensions</strong> that you should consider when defining your governance model. Elements in these dimensions have been meticulously selected and prioritized via a survey. For each dimension, we will show you five most important elements but you can always show the full list. You can find the full seleccion and prioritization process <a href="https://discourse.sustainoss.org/t/governance-readiness-working-group/298/41">here</a>.</p>
    
    <hr class="my-4"/>

    <div id="vue-app">
    <h2 class="question-group">Day-to-day</h2>
    <p class="question-group-description">
      This dimension explore questions regarding governance that you may have to face when developing OSS projects. Try to think whether you have considered them in your project and how you plan to address them.
    </p>
    <div class="question" v-for="question in dayToDay5">
      <li class="question-title">
        {{ question.question }}
        <a class="question-info" data-toggle="collapse" v-bind:href="'#'+question.id" role="button" aria-expanded="false" aria-controls="collapseInfo"><img src="icons/info-circle.svg"></a>
      </li>
      <div class="collapse" v-bind:id="question.id">
      <p class="question-text">{{ question.info }}</p>
      </div>
    </div>

    <a class="question-more" data-toggle="collapse" href="#ddmore" role="button" aria-expanded="false" aria-controls="collapseInfo">
      <img src="icons/chevron-double-down.svg">Show more...
    </a>

    <div class="collapse" id="ddmore">
      <div class="question" v-for="question in dayToDayRest">
        <li class="question-title">
          {{ question.question }}
          <a class="question-info" data-toggle="collapse" v-bind:href="'#'+question.id" role="button" aria-expanded="false" aria-controls="collapseInfo"><img src="icons/info-circle.svg"></a>
        </li>
        <div class="collapse" v-bind:id="question.id">
        <p class="question-text">{{ question.info }}</p>
        </div>
      </div>
    </div>

    <h2 class="question-group">Barriers and Needs</h2>
    <p class="question-group-description">
      We know that things never go as we initially planned. This dimension includes the main challenges that you may have to face when dealing with governance definition and management.
    </p>
    <div class="question" v-for="question in barriersNeeds5">
      <li class="question-title">
        {{ question.question }}
        <a class="question-info" data-toggle="collapse" v-bind:href="'#'+question.id" role="button" aria-expanded="false" aria-controls="collapseInfo"><img src="icons/info-circle.svg"></a>
      </li>
      <div class="collapse" v-bind:id="question.id">
      <p class="question-text">{{ question.info }}</p>
      </div>
    </div>

    <a class="question-more" data-toggle="collapse" href="#bnmore" role="button" aria-expanded="false" aria-controls="collapseInfo">
      <img src="icons/chevron-double-down.svg">Show more...
    </a>

    <div class="collapse" id="bnmore">
      <div class="question" v-for="question in barriersNeedsRest">
        <li class="question-title">
          {{ question.question }}
          <a class="question-info" data-toggle="collapse" v-bind:href="'#'+question.id" role="button" aria-expanded="false" aria-controls="collapseInfo"><img src="icons/info-circle.svg"></a>
        </li>
        <div class="collapse" v-bind:id="question.id">
        <p class="question-text">{{ question.info }}</p>
        </div>
      </div>
    </div>

    <h2 class="question-group">Interventions</h2>
    <p class="question-group-description">
      Sometimes we need a last resort solution. This dimension explores the possible actions to apply changes related to governance issues in OSS projects.
    </p>
    <div class="question" v-for="question in interventions5">
      <li class="question-title">
        {{ question.question }}
        <a class="question-info" data-toggle="collapse" v-bind:href="'#'+question.id" role="button" aria-expanded="false" aria-controls="collapseInfo"><img src="icons/info-circle.svg"></a>
      </li>
      <div class="collapse" v-bind:id="question.id">
      <p class="question-text">{{ question.info }}</p>
      </div>
    </div>

    <a class="question-more" data-toggle="collapse" href="#imore" role="button" aria-expanded="false" aria-controls="collapseInfo">
      <img src="icons/chevron-double-down.svg">Show more...
    </a>

    <div class="collapse" id="imore">
      <div class="question" v-for="question in interventionsRest">
        <li class="question-title">
          {{ question.question }}
          <a class="question-info" data-toggle="collapse" v-bind:href="'#'+question.id" role="button" aria-expanded="false" aria-controls="collapseInfo"><img src="icons/info-circle.svg"></a>
        </li>
        <div class="collapse" v-bind:id="question.id">
        <p class="question-text">{{ question.info }}</p>
        </div>
      </div>
    </div>

    </div>

    <hr class="my-4"/>

    <h1>What's next?</h1>
    <p>Once you have gone through the checklist and thought carefully how you may address them. It's time to start defining the governance model for your project.</p>
    <p>We propose you to use <a href="https://communityrule.info/">CommunityRule</a> for this task. You will find more info there to help you to identify a governance model for your project.</p>
    </div> <!-- container  -->

    <div class="footer">
      <div class="container">
        <p class="text-center">
        <a href="https://https://sustainoss.org//" target="_blank">SustainOSS</a>. Website made by <a href="http://jlcanovas.es" target="_blank">@jlcanovas</a>
        </p>
      </div> <!-- container  -->
    </div> <!-- footer-->

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/lodash/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>